# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments & secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db
